<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <title>コンボメーカー4</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <button type="button" class="number">1</button>
    <button type="button" class="number">2</button>
    <button type="button" class="number">3</button>
    <button type="button" class="number">4</button>
    <button type="button" class="number">5</button>
    <button type="button" class="number">6</button>
    <button type="button" class="number">7</button>
    <button type="button" class="number">8</button>
    <button type="button" class="number">9</button>
    <button type="button" class="attack">LP</button>
    <button type="button" class="attack">MP</button>
    <button type="button" class="attack">HP</button>
    <button type="button" class="attack">LK</button>
    <button type="button" class="attack">MK</button>
    <button type="button" class="attack">HK</button>
    <button type="button" class="attack">DI</button>
    <button type="button" class="attack">SA1</button>
    <button type="button" class="attack">SA2</button>
    <button type="button" class="attack">SA3</button>
    <button type="button" class="number">236</button>
    <button type="button" class="number">214</button>
    <button type="button" class="number">623</button>
    <button type="button" class="number">22</button>
    <button type="button" class="number">63214</button>
    <button type="button" class="number">(4)6</button>
    <button type="button" class="number">(2)8</button>
    <button type="button" class="lavel">カウンター限定</button>
    <button type="button" class="lavel">壁限定</button>
    <button type="button" class="lavel">パニッシュカウンター限定</button>

    <p id="combo"></p>
    
    <button id="undoButton">1つ戻す</button>
    <button id="resetButton">リセット</button>
    <button id="copyButton">コピー</button>
    <button id="consoleButton">コンソール出力</button>
    <input id="addattackinput" type="checkbox">追加で攻撃ボタンを入力</input>
    <input id="ODinput" type="checkbox" style="background-color:salmon;">OD</input>
    <input id="ODinput" type="checkbox" style="background-color:salmon;">CR</input>
    <input id="deleycheckbox" type="checkbox">ディレイ</input>
    <input id="deleyinput" type="number" placeholder="ディレイ　F"></input>
    <button id = "deleyButton"type="button" class="function">ディレイ</button>
    <input id="holdcheckbox" type="checkbox" style="color:salmon;">ホールド</input>
    <input id="holdinput" type="number" placeholder="ホールド　F" style="background-color:salmon;"></input>
    <button id = "holdButton"type="button" class="function" style="background-color:salmon;">ホールド</button>
    <input id="TCcheckbox" type="checkbox" style="background-color:salmon;">TC</input>
    <input id="jumpcheckbox" type="checkbox" >J</input>




    <script src="script.js"></script>
</body>
</html>
