<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <title>コンボメーカー3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <button type="button">1</button>
    <button type="button">2</button>
    <button type="button">3</button>
    <button type="button">4</button>
    <button type="button">5</button>
    <button type="button">6</button>
    <button type="button">7</button>
    <button type="button">8</button>
    <button type="button">9</button>
    <button type="button" class="attack">LP</button>
    <button type="button" class="attack">MP</button>
    <button type="button" class="attack">HP</button>
    <button type="button" class="attack">LK</button>
    <button type="button" class="attack">MK</button>
    <button type="button" class="attack">HK</button>
    <p id="combo"></p>
    <button id="deleteButton">削除</button>
    <button id="copyButton">コピー</button>


    <script src="script.js"></script>
</body>
</html>
